UPDATE "ProductVariant" SET price = 29.97, "skuVariant" = 'YACCO-VX1000LL-0W-40-5L' WHERE "skuVariant" = 'YACCO-VX1000LL-0W-40-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 1.9, "skuVariant" = 'SHELL-ULTRA-PRO-AVL-0W-20-5L' WHERE "skuVariant" = 'SHELL-ULTRA-PRO-AVL-0W-20-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 459.9, "skuVariant" = 'TOTALENERGIES-QUARTZ-INEO-FIRST-0W-20-5L' WHERE "skuVariant" = 'TOTALENERGIES-QUARTZ-INEO-FIRST-0W-20-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 34.9, "skuVariant" = 'PETRONAS-SYNTIUM-7000-RN-0W-20-5L' WHERE "skuVariant" = 'PETRONAS-SYNTIUM-7000-RN-0W-20-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 6.9, "skuVariant" = 'SHELL-ULTRA-5W-40-5L' WHERE "skuVariant" = 'SHELL-ULTRA-5W-40-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 510, "skuVariant" = 'SHELL-HX8-5W-30-5L' WHERE "skuVariant" = 'SHELL-HX8-5W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 29.97, "skuVariant" = 'SHELL-HX7-5W-40-5L' WHERE "skuVariant" = 'SHELL-HX7-5W-40-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 9.99, "skuVariant" = 'SHELL-ULTRA-PRO-AML-5W-30-5L' WHERE "skuVariant" = 'SHELL-ULTRA-PRO-AML-5W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 29.97, "skuVariant" = 'MOTUL-4100-SYN-NERGY-10W-40-5L' WHERE "skuVariant" = 'MOTUL-4100-SYN-NERGY-10W-40-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 29.97, "skuVariant" = 'MOTUL-4100-TURBOLIGHT-10W-40-5L' WHERE "skuVariant" = 'MOTUL-4100-TURBOLIGHT-10W-40-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 49.9, "skuVariant" = 'MOTUL-8100-XCLEAN-FE-5W-30-5L' WHERE "skuVariant" = 'MOTUL-8100-XCLEAN-FE-5W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 49.9, "skuVariant" = 'MOTUL-SPECIFIC-2312-0W-30-5L' WHERE "skuVariant" = 'MOTUL-SPECIFIC-2312-0W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 49.9, "skuVariant" = 'MOTUL-SPECIFIC-913D-5W-30-5L' WHERE "skuVariant" = 'MOTUL-SPECIFIC-913D-5W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 510, "skuVariant" = 'TOTALENERGIES-QUARTZ-INEO-ECS-5W-30-5L' WHERE "skuVariant" = 'TOTALENERGIES-QUARTZ-INEO-ECS-5W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 510, "skuVariant" = 'TOTALENERGIES-QUARTZ-INEO-LL-5W-30-5L' WHERE "skuVariant" = 'TOTALENERGIES-QUARTZ-INEO-LL-5W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 459.9, "skuVariant" = 'TOTALENERGIES-QUARTZ-9000-5W-40-5L' WHERE "skuVariant" = 'TOTALENERGIES-QUARTZ-9000-5W-40-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 1.9, "skuVariant" = 'ELF-EVO-900-NF-5W-40-5L' WHERE "skuVariant" = 'ELF-EVO-900-NF-5W-40-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 510, "skuVariant" = 'ELF-EVO-900-SXR-5W-40-5L' WHERE "skuVariant" = 'ELF-EVO-900-SXR-5W-40-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 510, "skuVariant" = 'ELF-EVO-FULLTECH-PCX-5W-30-5L' WHERE "skuVariant" = 'ELF-EVO-FULLTECH-PCX-5W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 510, "skuVariant" = 'ELF-EVO-FULLTECH-FE-5W-30-5L' WHERE "skuVariant" = 'ELF-EVO-FULLTECH-FE-5W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 159.9, "skuVariant" = 'CASTROL-EDGE-5W-30-5L' WHERE "skuVariant" = 'CASTROL-EDGE-5W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 510, "skuVariant" = 'CASTROL-MAGNETEC-SS-5W-30-5L' WHERE "skuVariant" = 'CASTROL-MAGNETEC-SS-5W-30-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 199.9, "skuVariant" = 'MOTUL-SPECIFIC-508-00-509-00-0W-20-5L' WHERE "skuVariant" = 'MOTUL-SPECIFIC-508-00-509-00-0W-20-PRICE-TBD-5L';
UPDATE "ProductVariant" SET price = 17, "skuVariant" = 'YACCO-LUBE-RN17-FE-0W-20-5L' WHERE "skuVariant" = 'YACCO-LUBE-RN17-FE-0W-20-PRICE-TBD-5L';
